<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../../assets/images/shopping-cart.png" alt="" >
  <h1 class="display-5 fw-bold text-body-emphasis">Welcome to our Store</h1>

  <button class="btn btn-default" (click)="showMore()" *ngIf="!isShowMore">Show more</button>


  <div class="col-lg-6 mx-auto" *ngIf="isShowMore">
    <p class="lead mb-4">Discover Our Curated Range of Latest Gadgets. Experience cutting-edge technology, enhance your lifestyle, and make everyday tasks easier. Join us in the future, today! We are committed to offering you the very best in electronic gadgets.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="products">Buy Now</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="about">About Us</button>
    </div>
    <button class="btn btn-default" (click)="showLess()">Show less</button>
  </div>
</div>

<div class="b-example-divider"></div>
