<div class="book-card">
    <div class="card">
        <img [src]="book.imgSrc" class="card-img-top" height="203" [alt]="book.title">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Author: {{ book.author }}</p>
        </div>
        <div class="card-footer">
            <div class="text-center">
                <a href="#" class="btn btn-success btn-sm" (click)="orderBook()">Order Now</a>
            </div>
        </div>
    </div>
</div>
